[Unit]
Description=GO Simple Tunnel (TCP/UDP Support)
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/gost -L=tcp://:$port/$domain:$port -L=udp://:$port/$domain:$port
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target